@model MvcKutuphane.Models.Entity.TBLYAZAR
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <link rel="Stylesheet" type="text/css" href="~/StyleSheet1.css">
    <body class="yazararka">


        <div>
            <div class="yazarboyutdiv">
                <form class="form-group" method="post">

                    <div style="margin-top:15px">
                        <label class="yazarlabel">Yazar Adı</label>
                        @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
                        @Html.ValidationMessageFor(y => y.AD)
                    </div>
                    <div style="margin-top:15px">
                        <label class="yazarlabel">Yazar Soyadı</label>
                        @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control" })
                        @Html.ValidationMessageFor(y => y.SOYAD)
                    </div>
                    <div style="margin-top:15px">
                        <label class="yazarlabel">Yazar Detay Bilgileri</label>
                        @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control" })
                    </div>
                    <div style="margin-top:15px">
                        <button class="button button3">Yazar Ekle</button>
                    </div>

                </form>
            </div>
        </div>
    </body>